.colSeats {
  background-color: rgb(8, 8, 8);
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
  width: 100% !important;
}

.bookedSeats {
  background-color: red;
  border: 1px solid #fff;
}

.userReserved {
  border: 1px solid #fff;
  background-color: rgb(214, 236, 9) !important;
}
.select {
  background-color: palegreen !important;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
  width: 100% !important;
}

.book {
  width: 50%;
  height: 50px;
  margin-top: 50px;
  border: none;
  font-size: 25px;
  background-color: #c23d38;
  color: #fff;
  border-radius: 10px;
  transition: 500ms all ease-in-out;
  font-weight: bold;
  &:hover {
    background-color: transparent;
    border: 1px solid #d9534f;
    color: #d9534f;
  }
}
