.mainCon {
    margin: 50px 100px;
    box-shadow: 0 14px 28px rgba(17, 16, 16, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: rgb(167, 164, 207);
    h1 {
      margin-top: 50px;
      font-weight: bold;
    }
    h4{
      padding:10px 20px;
      display:inline-block;
      border:none;
      background:rgb(34, 15, 206);
      font-size:16px;
      color:rgb(253, 247, 247);
      margin: 56px 0px 0px 400px;
    }
    .loginInput{
      width: 60%;
      height: 80px;
      border: none;
      color:white;
      border-bottom: 1px solid black;
      margin-top: 30px;
      padding-left: 30px;
      font-size: 20px;
      background: transparent;
      &:focus {
        outline: 0;
      }
    }
    .icon {
      font-size: 25px;
      margin-right: -20px;
      z-index: 10;
    }
    .btn {
      margin: 60px 0px 0px 20px;
      padding: 10px 20px;
      font-size: 20px;
      border: none;
      color: #fff;
    }
  }
  